<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ team.team_name }}</title>
</head>
<body>
    <h1>Team: {{ team.team_name }}</h1>
    <h2>Players:</h2>
    <ul>
        {% for player in players_in_team %}
            <li>{{ player.full_name }} - {{ player.position }} - {{ player.team }}</li>
        {% endfor %}
    </ul>

    <h2>Matches</h2>
    <ul>
        {% for match in matches %}
            <li>
                <a href="{{ url_for('match', match_id=match.match_ID) }}">
                    Match on {{ match.match_date }} (Score: {{ match.final_score }})
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('league_page', league_id=team.league_ID) }}">Back to League</a>
</body>
</html>
